* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background: #f4f4f4 !important;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.yellow {
  color: #ffd633;
}

.container2 {
  width: 1200px;
}

.objcover {
  object-fit: cover;
}
.objposition {
  object-position: 60%;
}
